.ipynb_checkpoints/
.kdev4/
*.egg-info/
*_files/
*.kdev4
build/
*.run.xml
*.bbl
*.blg
*.bcf
*.aux
*.snm
*.out
*.toc
*.nav
*.vrb
*.fls
*.fdb_latexmk
*.log
*.backup
*~
*.pyc
*/build
*.synctex.gz
*.cpt
*/code